extends ./layout



block title  
  title Internet of Kegs

block content  
    style
      |body{
      |   background: #333333;
      |}


    .container
      .col-sm-12
        if admin
          h1 Internet of Kegs - Admin

    #batchHolder.container  
    #temperatureHolder.container  



    // Button trigger modal
    #newBatchModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title New Batch in Keg 
              script.kegNum 
              | N
          .modal-body
            form
              .form-group
                label.control-label(for='beer-name') Beer Name:
                input#beer-name.form-control(type='text')
              .form-group
                label.control-label(for='beer-color') Color:
                input#beer-color.form-control(type='text', name='beer-color')




          .modal-footer
            button.btn.btn-default#close-btn(type='button', data-dismiss='modal') Close
            button.btn.btn-primary#save-btn(type='button') Save changes

block scripts
    script(src="/javascripts/newBatch.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.js")
    script(src="/javascripts/Chart.Scatter.js")
    
    script(src="/javascripts/batch.js")

    script(type='text/javascript')
      | var batchView =!{JSON.stringify(batchView)}
      | var batches =!{JSON.stringify(batches)}
      | var temperatures =!{JSON.stringify(temperatures)}
      | var temperatureUnits =!{JSON.stringify(temperatureUnits)}
      | var isAdmin =!{JSON.stringify(admin)}



